<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--
      Android 11+ (API 30) hides other installed apps from us by default.
      To call getLaunchIntentForPackage() or resolve a deep link for a
      specific app, that app must be declared here.
      Docs: https://developer.android.com/training/package-visibility
    -->
    <queries>
        <!-- Apps we launch directly by package name -->
        <package android:name="com.spotify.music" />
        <package android:name="com.google.android.apps.youtube.music" />
        <package android:name="com.instagram.android" />
        <package android:name="com.google.android.youtube" />

        <!-- Deep links we build (https + custom schemes) -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="spotify" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="instagram" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.IntentApp">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
